<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
  <!DOCTYPE HTML>
  <html>

  <head>

    <style>
      .switch {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 34px;
      }

      .switch input {
        display: none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ca2222;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked+.slider {
        background-color: #2ab934;
      }

      input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked+.slider:before {
        -webkit-transform: translateX(117px);
        -ms-transform: translateX(117px);
        transform: translateX(117px);
      }

      .on {
        display: none;
      }

      .on,
      .off {
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
      }

      input:checked+.slider .on {
        display: block;
      }

      input:checked+.slider .off {
        display: none;
      }
    </style>

    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
          {

            title: {
              text: "Bitcoin Price per 5 seconds"
            },
            data: [
              {
                type: "line",

                dataPoints: [
                  { x: new Date(2012, 00, 1), y: 450 },
                  { x: new Date(2012, 01, 1), y: 414 },
                  { x: new Date(2012, 02, 1), y: 520 },
                  { x: new Date(2012, 03, 1), y: 460 },
                  { x: new Date(2012, 04, 1), y: 450 },
                  { x: new Date(2012, 05, 1), y: 500 },
                  { x: new Date(2012, 06, 1), y: 480 },
                  { x: new Date(2012, 07, 1), y: 480 },
                  { x: new Date(2012, 08, 1), y: 410 },
                  { x: new Date(2012, 09, 1), y: 500 },
                  { x: new Date(2012, 10, 1), y: 480 },
                  { x: new Date(2012, 11, 1), y: 510 }
                ]
              }
            ]
          });

        chart.render();
      }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </head>

</head>

<body>
  <nav>
    <h4>BitSwap</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/trader">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="avatar-ctn">
            <img src="/avatar.png" class="avatar" alt="user profile picture" />
          </div>
          <div class="card-body" style="background-color:{{user.Tier}};text-align: center ">
            <h5 class="card-title" align="text-center">{{user.First_Name}}</h5>
            <p class="card-text">Current Bit Coins: {{user.B_amount}} </p>
            <p class="card-text">Current $ amount in wallet: {{user.D_amount}} $</p>
            <input type="button" style="background-color:{{user.Tier}};color:white;" value="{{user.Tier}} Customer">
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="card text-center">
          <div class="card-header">
            Live Bitcoin Price : {{ coinPrice }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Select what you want to do</h5>
            <p class="card-text">



            <form action="/trader/client/trade/Buy" method="POST">
              <input type="hidden" id="userId" name="userID" value="{{user.User_ID}}">
              <div class="buy"><label> Enter the Bitcoin amount you want to Buy. </label>
                <input type="number" class="form-control" id="Buy" name="Buy">
                <br />
                <button type="button" class="btn btn-primary" onclick="getConfirmation_B(Buy)">Buy Bitcoins</button>
              </div>

              <br />
              <div class="submission_B">
                <button type="submit" class="btn btn-success"> Confirm</button>
              </div>
              <br />
              <div align="center" id="bit00_3">
                <label class="switch">
                  <input type="checkbox" id="checkbox1" name="checkbox1">

                  <div class="slider round">
                    <span class="on">DOLLARS</span>
                    <span class="off">BITCOINS</span>
                  </div>

                </label>

              </div>


            </form>
            <form action="/trader/client/trade/Sell" method="POST">
              <input type="hidden" id="userId" name="userID" value="{{user.User_ID}}">
              <div class="sell"><label> Enter the Bitcoin amount you want to Sell. </label>
                <input type="number" class="form-control" id="Sell" name="Sell">
                <br />
                <button type="button" class="btn btn-primary" onclick="getConfirmation_S(Sell)">Sell Bitcoins</button>
              </div>

              <br />
              <div class="submission_S">
                <button type="submit" class="btn btn-success"> Confirm</button>
              </div>
              <br />
              <div align="center" id="bit00_3">
                <label class="switch">
                  <input type="checkbox" id="checkbox2" name="checkbox2">

                  <div class="slider round">
                    <span class="on">DOLLARS</span>
                    <span class="off">BITCOINS</span>
                  </div>

                </label>

              </div>

            </form>


            </p>
            {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
          </div>
          <div class="card-footer text-muted">
            BitSwap

          </div>
        </div>

      </div>

      <div class="embed-responsive embed-responsive-21by9">

        <iframe src="/live_bitcoin_chart" width="1000px" height="600px" scrolling="no" title="Iframe Example"></iframe>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script>$(document).ready(function () {
        $(".submission_B").hide();
        $(".submission_S").hide();

        //console.log(document.getElementById(com).value);

      });
      function getConfirmation_B(type) {
        if (type = "Buy") {
          console.log("Buy");
          var r = confirm("You are buying " + document.getElementById(type).value + " bitcoins");


          if (r == true) {
            $(".submission_B").show();
          }
        }

      };

      var value1 = 1;
      //you can put the checkbox in a variable, 
      //this way you do not need to do a javascript query every time you access the value of the checkbox
      var checkbox1 = document.getElementById("checkbox1")
      checkbox1.checked = value1
      document.getElementById("checkbox1").addEventListener("change", function (element) {
        console.log(checkbox1.checked)

      });
      var value2 = 1;
      var checkbox2 = document.getElementById("checkbox2")
      checkbox2.checked = value2
      document.getElementById("checkbox2").addEventListener("change", function (element) {
        console.log(checkbox2.checked)

      });

      function getConfirmation_S(type) {
        if (type = "Sell") {
          console.log("Sell");
          var r = confirm("You are selling " + document.getElementById(type).value + " bitcoins");
          if (r == true) {
            $(".submission_S").show();
          }
        }

      };
    </script>






</body>