<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>BitSwap</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/trader">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="user profile picture" />
                    </div>
                    <div class="card-body" style="background-color:{{user.Tier}};text-align: center ">
                        <h5 class="card-title" align="text-center">{{user.First_Name}}</h5>
                        {{!-- <p class="card-text">Current Bit Coins: {{user.B_amount}} </p> --}}
                        {{!-- <p class="card-text">Current $ amount in wallet: {{user.D_amount}} $</p> --}}
                        {{!-- <input type="button" style="background-color:{{user.Tier}};color:white;"
                            value="{{user.Tier}} Customer"> --}}
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Trader Activity Center
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Search the client</h5>
                        <form action="/trader/client" method="POST">
                            {{!-- /trader/client --}}
                            <div class="form-group">
                                <label for="Name">Client Email</label>
                                <input type="text" class="form-control" id="clientemail" name="clientemail">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Find</button>
                        </form>    
                    </div>
                    {{#if searched_client}}
                        <div class="card-body" style="background-color:{{searched_client.Tier}};text-align: center ">
                        <h5 class="card-title" align="text-center">{{searched_client.First_Name}} {{searched_client.Last_Name}}</h5>
                        <p class="card-text">Current Bit Coins: {{searched_client.B_amount}} </p>
                        <p class="card-text">Current $ amount in wallet: {{searched_client.D_amount}} $</p>
                        <form action="/trader/client/transactions" method="POST">
                            <input type="hidden" id="userID" name="userID" value="{{searched_client.User_ID}}">
                            <button type="submit" class="btn btn-primary">View Transactions</button>
                        </form>
                        <br>
                        <form action="/trader/client/trade" method="Post">
                            <input type="hidden" id="userID" name="userID" value="{{searched_client.User_ID}}">
                            <button type="submit" class="btn btn-primary">Buy/Sell Bitcoins</button>
                        </form>

                        
                        
                        {{!-- <input type="button" style="background-color:{{user.Tier}};color:white;"
                            value="{{user.Tier}} Customer"> --}}
                        </div>
                    {{/if}}
                </div>
            </div>


        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>

</body>

</html>