<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  
  <title>Document</title>
</head>
<body> 
      <nav>
    <h4>BitSwap</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="avatar-ctn">
            <img src="/avatar.png" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body" style="background-color:{{user.Tier}};text-align: center ">
            <h5 class="card-title" align="text-center">{{user.First_Name}}</h5>
            <p class="card-text">Current Bit Coins: {{user.B_amount}} </p>
            <p class="card-text">Current $ amount in wallet: {{user.D_amount}} $</p>
            <input type="button" style="background-color:{{user.Tier}};color:white;" value="{{user.Tier}} Customer">
          </div>
        </div>
      </div >

  <div class="col-8">
        <div class="card text-center">
          <div class="card-header">
            Wallet
          </div>
          <div class="card-body">
            <h5 class="card-title">Select what you want to do</h5>
            <p class="card-text">
              Add Dollars  <input type="radio" class="Positive" name="radio1" value="positive" onClick="getResults(this)">    
              Remove Dollars  <input type="radio" class="Negative" name="radio1" value="negative" onclick="getResults(this)">
              Show transactions  <input type="radio" class="Show" name="radio1" value="show_tranasaction" onclick="getResults(this)">   
              <div class="positive">
                <form action="/auth/wallet/positive" method="POST">
        
                
                

                <div class="dollars"><label> Add $ Amount bellow  </label>
                <input type="number" class="form-control" id="D_amount" name="D_amount">
                <br/>
                <button type="button" class="btn btn-primary" onclick="getConfirmation_P(D_amount)"> Add Dollars</button></div>
                
                  <br/>
                <div class="submission_P">
                <button type="submit" class="btn btn-success" >Confirm</button>
                </div>

                </form>
              </div>
              <div class="negative">
                <form action="/auth/wallet/negative" method="POST">
        
                
                

                <div class="dollars"><label> Remove $ Amount bellow  </label>
                <input type="number" class="form-control" id="D_amount" name="D_amount">
                <br/>
                <button type="button" class="btn btn-primary" onclick="getConfirmation_N(D_amount)">Remove Dollars</button></div>
                
                <br/>
                <div class="submission_N">
                <button type="submit" class="btn btn-success" >Confirm</button>
                </div>
                
                </form>
              </div>  
              <div class="show_tranasaction">
                <table id="table"  class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Date_Time
                        {{title}}
                      </th>
                      <th>
                        Wallet_Transaction_Amount
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    
                    <tr>
                      <td id="wallet_transaction_date">
                        
                      </td>
                      <td id="wallet_transaction_amunt">
                        
                      </td>
                    </tr>
                   
                  </tbody>
                </table>


              </div>
            </p>
            {{#if message }}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
          </div>
          <div class="card-footer text-muted">
            BitSwap
            


          </div>
        </div>
      </div>
    </div>

  <script>$(document).ready(function() {
    console.log("ready");
    $(".submission_P").hide();
    $(".submission_N").hide();
    $(".positive").hide();
    $(".negative").hide();
    $(".show_tranasaction").hide();
   
    });
    function getConfirmation_P(type){
        if (type ="D_amount"){
          console.log("D_amount");
            var r = confirm("You are adding " + document.getElementById(type).value + " Dollars to your account" );
            if (r == true)
            {
              $(".submission_P").show();
            }
        }
        
    };

    function getConfirmation_N(type){
        if (type ="D_amount"){
          console.log("D_amount");
            var r = confirm("You are removing " + document.getElementById(type).value + " Dollars to your account" );
            if (r == true)
            {
              $(".submission_N").show();
            }
        }
        
    };


    function getResults(elem) {
      if (elem.checked == true)
      {
        if (elem.value == "positive")
        {
          $(".positive").show() 
          $(".negative").hide();
          $(".show_tranasaction").hide();
        }
        if (elem.value == "negative")
        {
          $(".negative").show() 
          $(".positive").hide();
          
          $(".show_tranasaction").hide();
        }
        if (elem.value == "show_tranasaction")
        {
          $(".show_tranasaction").show();
          $(".positive").hide();
          $(".negative").hide();
          $.ajax({
            url: "https://bitswap.herokuapp.com/wallet/show_transaction",
            type: 'GET',
            success: function(res) {
              console.log(res);
              var table = document.getElementById("table");
              var row = table.insertRow(1);
              console.log(Object.values(res)[0].Wallet_Transaction_Amount)
              for (let i = 1; i < Object.keys(res).length; i++)
              { 
                var row = table.insertRow(i);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                cell1.innerHTML = Object.values(res)[i].Date_Time.replace('T', ' ').slice(0,19);
                cell2.innerHTML = Object.values(res)[i].Wallet_Transaction_Amount + "$ ";
              }
              //for(Object.keys(myChart.data.datasets[0].data).length)
            //alert(res);
        }
        });
        }
      }
    
    };
    
   </script>
   
</body>
</html>